<br>
<p id="notice"><%= notice %></p>
<div class="col-md-8">

  <p>
    <%#= link_to @image.photo do %>
    <%= image_tag @image.photo.variant(resize: "750x450", combine_options: { gravity: 'southeast', draw: 'image Over 0,100 200,50 "' + Image::WATERMARK_PATH.to_s + '"' }) %>
    <%# end %>
  </p>

</div>
<div class="col-md-4">
  <p>
    <strong>Title:</strong>
    <%= @image.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @image.description %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= @image.date_created %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@image.price) %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= @image.collection %>
  </p>

  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
</div>
