<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@image.photo.variant(resize: '600x600!')) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @image.date_created %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@image.price) %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @image.collection %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
